/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
	#main{
		padding-top: 0px;
	}
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
	#main {
    	padding-top: 0px;
  	}
	#range{
  		display: none;
  	}
}

/* Desktop
------------------------- */
@media (min-width: 980px) {
  	body > #main {
    	padding-top: 50px;
  	}
}

	  
/* SampleList style 
------------------------- */
.entry{
	padding: 10px;
	border-bottom: 0; 
	&:last-of-type {
        border-bottom: 1px solid black; 
	}
}
.header{
      background-color:#cdf;
}

.values{
	color:brown;
	font-weight:800;
}
	
.span5,.span4{
	/*
	border:1px solid #666;
	*/
	padding:10px;
}

#sampleList{
	height:400px;
	overflow-y: auto;
}
      
#range{
	width:50%;
	float:left;
	margin-right:10px;
	margin-top:7px;
}

	
/*Control tile style 
----------------------*/      
.up{
	z-index:1;
}

.controller-handle{
	position:absolute;
	left:-20px;
	-webkit-transform: rotate(90deg);
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
}
      
.controller-handle{
	left:-30px;
}
.controller-handle,#slide-out-controller{
	top:350px;
}

#slide-out-controller{
	width:400px;
	display:none;
	position: absolute;
    left:-425;
	background-color:#eee;
	border:1px solid ;
	padding:10px;
}

.heading{
	font-size: 20px;
	font-weight: 900;
	}

#ctrlMessage{
	margin-bottom: 0px;
}

.dataset-container{
	padding: 5px;
}
.highlight{
	background-color: #eee;
}

     
/* generated dataset styles
------------------------*/	
	#dataSet,#generatedSamples{
	height:200px;
	/*border:1px solid #e3e3e3;*/
	padding:5px;
	}

.device-container{
    width: 30px;
    height: 30px;
    position: relative;
    display:inline-block;
}
      
.device{
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    left: 0;
}

.q{
	height: 400px;
}


/* Start styling for accordion menu
-----------------------------------*/
    .ui-accordion-header{
		background-color:#F5F5F5;
		color:#666;
	}
    .ui-accordion-header a{
    	text-decoration:none;
    }
    .ui-accordion-content{
		/*border:1px solid;*/
      }
      

/* Welcome splash screen
-------------------------------------------------*/
#welcome{
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: absolute;
	background-color: black;
	top:0px;
	left: 0px;
	text-align:center;
}
      
.font{
	font-size: 20px;
	color: white;
	font-family: 'Lato', sans-serif;
}

div.welcome-container{
    width:600px;
    margin:120px auto;
}
      
.welcome-title{
	color:#1DC4F9;
	font-size: 150px;
	line-height: 150px;
}
      
.welcome-container div{
	float:left;
	width: 100%;
}
	  
#startApp{
	margin: 10px auto;
}



/* Styling for the input module
-------------------------------*/
	#main{
		visibility: hidden;
	}
	#drop{
	  	padding: 10px;
	  	border: 2px dashed #e8e8e8;
	  	min-width: 300px;
	  	max-width : 500px;
	  	text-align:center;
	  	margin-left: 30px;
	  	margin-top:10px;
	  	margin-bottom: 10px;
	  	display: none;

	  }
	section.active{
		background: #FFD38C;
		border: 0;
	}
	.dataTable{
		margin:10 auto;
	}
	.input-controls{
		margin:10px;
	}
	section.datadriven-wrap{
		height: 400px;
		overflow: hidden;
		position: static;
		display : none;
	}
	section.datadriven-wrap .controls{
	
		height: 30px;
		border-bottom: 1px solid #e3e3e3;
		width:100%;
		padding-bottom: 5px;
	}
	section.datadriven-wrap .controls .status{
		display:none;
	}
	section.datadriven-wrap .controls input[type="text"]{
		height: 14px;
		margin:0px;
	}
	section.datadriven-wrap .spreadsheet{
		height: 350px;
		margin-top: 10px;
		overflow: auto;
		max-height: 350px;

	}
	section#datadriven-fetch{
		display: none;
	}
	section#worldbank{
		display: none;
	}
	section#datadriven-stage{
		display: none;
	}
	/*
		Styles for the toggle button of drag and drop
	*/
	a.dragdrop{
		color: #fff;
	}
	section#fetchURL{
		margin-top: 10px;
		display: none;
	}
	.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

.btn-group:first-child {
  *margin-left: 0;
}

.btn-group + .btn-group {
  margin-left: 5px;
}

.btn-group > .dropdown-menu {
  font-size: 14px;
}
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
div.menu-datadriven{
	float: left;
	border:0px;
	width: 50%- 20px;
	padding: 10px 10px 0px 10px;
}
.menu-datadriven ul
{
	list-style: none;
}
div.menu-simulationdriven{
	float:left;
	border:0px;
	width: 50%-20px;
	padding: 10px 10px 0px 10px;
}
ul li a:hover{
	cursor: pointer;
}

section#simulationdriven-details{
	display: none;
}
a.input-handle{
	display: none;
}
#status{
	margin-top:10px;
}




#speed-controller,#percentile-controller{
	padding-top:5%;
	padding-bottom:10%;
}
	
#speed-selector,#percentile-selector{
	float: right;
	width:60%;
}

.sidebar-nav {
    padding: 9px 0;
}
.row-fluid{
	padding-top:10px;
}
      
.tab-content{
	overflow:visible;
}
#accordion div{
	/*
	height:350px;
	display:inline;
	border:1px solid;
	*/
}
#dataPlot, #currentSample{
    /*float:left;
    width:45%;
    */margin:5px;
}
div.tool{
	margin-top: 5px;
	line-height: 24px;
}
.htCore th{
	cursor:pointer;
}

.right{
float:right;
}

.left{
float:left;
}

.fine-print{
  font-size:12px;
}

/* Style support for SOCR footer */
#footer{
  background-color: #e5f0fc;
  border: 1px solid #ccc;
  border-bottom: 0;
  clear: both;
  padding:2px 0px;
  text-align:center;
  }
