<h5>Set Experiment Parameters: </h5>
<p class="toolbar">
	<p class="tool">
		<span id="nLabel" class="badge badge-warning" for="nInput">N = </span>
		<span id="nvalue"></span>
		<input id="nInput" type="range" tabindex="7" class="parameter"/>
		<i class="icon-question-sign popups" rel="popover" data-content=" n = number of coins to be tossed!" data-original-title="n"></i>
	</p>
	<p class="tool">
		<span id="pLabel" class="badge badge-warning" for="pInput">P = </span>
		<span id="pvalue"></span>
		<input id="pInput" type="range" tabindex="8" class="parameter"/>
		<i class="icon-question-sign popups" rel="popover" data-content=" p = probability of getting a Head!" data-original-title="p"></i>
	</p>
	<select id="rvSelect" tabindex="9" title="Random variable" >
		<option value="0" selected="true">Y: Number of heads</option>
		<option value="1">M: Proportion of heads</option>
	</select>
	<h5>Set K (= Number of groups)  </h5>
	<div>
		<span class="badge badge-warning"> K=<span id="kValue">1</span></span>
		<div id="kValue-slider" style="display:inline-block;width:50%;margin-left:5%"></div>
	</div>
</p>
	<button class="btn popups btn-success" id="sdbutton"  rel="popover" data-content="To generate random samples, first you need a dataset to start with. Once you generate it, go ahead and generate random samples!" data-original-title="Dataset">Generate DataSet!</button>&nbsp;
	<button class="btn " id="grsbutton" >Generate Random Samples!</button>
	<div class="controller-warning"></div>