<p class="toolbar"></p>
<p class="tool">
	<span id="nLabel" class="badge badge-warning" for="nInput"><var><var>n</var></var> = 10</span>
	<span id="nvalue"></span><input id="nInput" type="range" tabindex="7" class="parameter" min="1" max="100" step="1">
</p>
<div>
	<span class="badge badge-warning"> K=<span id="kValue">1</span></span>
	<div id="kValue-slider" style="display:inline-block;width:50%;margin-left:5%">
		</div>
<button class="btn popups btn-success" id="sdbutton"  rel="popover" data-content="To generate random samples, first you need a dataset to start with. Once you generate it, go ahead and generate random samples!" data-original-title="Dataset">Generate DataSet!</button>&nbsp;
	<button class="btn " id="grsbutton" >Generate Random Samples!</button>
	<div class="controller-warning"></div>
</div>