<div class="span3" >
              <h3>Controller</h3>
		<p class="toolbar">
		  <button class="btn" type="button" id="stepButton" tabindex="1" title="Step">
		  <img src="img/step.png" alt="Step" title="Step" />
		  </button>
		  <button class="btn btn-success" type="button" id="runButton" tabindex="2" title="Run" >
		  <img id="runImage" src="img/run.png" alt="Run" title="Run" />
		  </button>
		  <button class="btn btn-danger" type="button" id="stopButton" tabindex="3" title="Stop" >
		  <img id="stopImage" src="img/stop.png" alt="Stop" title="Stop" />
		  </button>
		  <button class="btn" type="button" id="resetButton" tabindex="4" title="Reset" >
		  <img src="img/reset.png" alt="Reset" title="Reset" />
		  </button>
		</p>
		<p>
		  <select id="stopSelect" tabindex="5" title="Stop frequency" onchange="stopFreq = value;">
		    <option value="10">Stop: 10</option>
		    <option value="100">Stop: 100</option>
		    <option value="1000">Stop: 1000</option>
		    <option value="10000">Stop: 10000</option>
		    <option value="0">Stop: never</option>
		  </select>
		</p>
		<p>
		<span class="tool">Show Distribution:
		<input type="checkbox" id="showCheck" tabindex="6" onchange="showDist(this.checked)" />
		</span>
		</p>

		<p class="toolbar">
		  <p class="tool">
		    <span id="nLabel" class="badge badge-warning" for="nInput">N = </span><span id="nvalue"></span>
		    <input id="nInput" type="range" tabindex="7" class="parameter"/>
		  </p>
		  <p class="tool">
		    <span id="pLabel" class="badge badge-warning" for="pInput">P = </span><span id="pvalue"></span>
		    <input id="pInput" type="range" tabindex="8" class="parameter"/>
		  </p>
		  <select id="rvSelect" tabindex="9" title="Random variable" >
		    <option value="0" selected="true">Y: Number of heads</option>
		    <option value="1">M: Proportion of heads</option>
		  </select>
		</p>
            </div><!--/span-->