<div class="container-fluid">
      <div class="row-fluid">
	<div class='span8'>
	<div class="row-fluid">
        <div class="row-fluid">
            <div class="span5">
				<!-- Add data-toggle="buttons-radio" for radio style toggling on btn-group -->
		<ul class="nav nav-tabs">
		    <li><a href="#home" data-toggle="tab" id='dataDriven-tab'>Data Driven</a></li>
		    <li><a href="#profile" data-toggle="tab" id='simulationDriven-tab'>Simulation Driven</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
		    <div class="tab-pane fade" id="home">
		      <div id="input-table" class="dataTable">
                      </div>
		      <div id='status'>
		      </div>
		      <!--<p> OR</p>
		      <p><a class="btn" href="#">More Info &raquo;</a></p> -->
		    </div>
		    <div class="tab-pane fade active in" id="profile">
		      <p>There are many experiments available which generate samples and dont require the user to enter the sample set/data.</p>
		      <p>
			<div class="btn-group">
			  <button class="btn btn-success">Choose</button>
			  <button class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			  <ul class="dropdown-menu">
			    <li><a href="#" id='binomialCoin'>Binomial Coin Toss</a></li>
			    <li><a href="#" id='ballAndUrn'>Ball And Urn</a></li>
			    <li><a href="#" id='dice'>Dice</a></li>
			  </ul>
			</div>
		      </p>
		    </div>
		  </div>
            </div><!--/span5-->
            <div class="span3" >
		<h3> DataSet Plot</h3>
		<div id="dataPlot"></div>		
            </div><!--/span3-->
                        
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span5" >
              <h3>Controller</h3>
		<p class="toolbar">
		  <button class='btn' type="button" id="stepButton" tabindex="1" title="Step">
		  <img src="img/step.png" alt="Step" title="Step" />
		  </button>
		  <button class='btn btn-success' type="button" id="runButton" tabindex="2" title="Run" >
		  <img id="runImage" src="img/run.png" alt="Run" title="Run" />
		  </button>
		  <button class='btn btn-danger' type="button" id="stopButton" tabindex="3" title="Stop" >
		  <img id="stopImage" src="img/stop.png" alt="Stop" title="Stop" />
		  </button>
		  <button class='btn' type="button" id="resetButton" tabindex="4" title="Reset" >
		  <img src="img/reset.png" alt="Reset" title="Reset" />
		  </button>
		</p>
		<p>
		  <span>Speed:  </span><select id="speed" style='width:100px;background-color:#ccc' tabindex="3" title="Animation Speed">
		    <option value="slow">slow</option>
		    <option value="medium">medium</option>
		    <option value="fast">fast</option>
		   </select>
		</p>
		<p class="toolbar">
		  <p class="tool">
		    <span>Datapoint size: </span><input type="text" id='nSize' class="input-medium" value='50'>
		  </p>
		  <p class="tool">
		    <span>No. of Samples: </span><input type="text" id='countSize' class="input-medium" value='1000'>
		  </p>
		</p>
	    </div><!--/span5-->
	    <div class="span3">
	      <h3> DotPlot</h3>
              <div id='dotPlot'></div>
	    </div><!--/span3-->
        </div><!--/row-->
	  
      </div><!--/row-->
      </div><!--span8-->
      <div class='row-fluid'>
	<div class="span4">
		<h3>Sample List</h3>
		<div style='padding-bottom:20px;'>
		  <span class="badge badge-warning">Samples Generated: <span id='displayCount'>0</span></span>
		  <span class="badge badge-success">Showing <span id='showCount'>0</span> samples</span>
		</div>  
		<div id='slider'>
		  <div id="range" style='width:50%;float:left;margin-right:10px;margin-top:7px'></div>
		  <div><button class='btn' type="button" id="showButton" tabindex="2" title="Show!" >Show!</button></div>
		</div>
		
		<br>
		<div id='sampleList'>
		
		</div><!--sampleList-->
		<div id='pagination'></div>
	</div><!--span4-->
      </div><!--row-->
      </div><!--row-->
      <hr>
	<div id="plot" class="modal hide fade">  
		  <div class="modal-header">
			<a class="close" data-dismiss="modal">X</a>
			<h3>Sample Plot</h3>
		  </div>
		  <div class="modal-body">
			<div class='device'></div>
		  </div>
		  
	</div>
	<div id="aboutDesc" class="modal hide fade">  
		  <div class="modal-header">
			<a class="close" data-dismiss="modal">X</a>
			<h3>SOCR</h3>
		  </div>
		  <div class="modal-body">
			<p>The goal of this project is to design a modern and portable SOCR web-app that demonstrates the concepts of statistical analysis such as resampling, randomization and probabilistic simulation and runs seamlessly across varied devices. The application will be based on HTML5, CSS3 and JavaScript framework</p>
		  </div>
		  <div class="modal-footer">
			<a href="http://socr.ucla.edu" class="btn btn-primary">HomePage</a>
		  </div>
	</div>
      <footer>
        <p>&copy; UCLA 2012</p>
      </footer>

    </div><!--/.fluid-container-->